{%load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <h1 id="site-header">Where do you want to go?</h1>
        <body>
            {% block content %}
            {% endblock %}
        </body>

    <div>
        <p>A travel wishlist, built with Django</p>
        <a class="nav-link" href="{% url 'place_list' %}">Your Wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you have visited</a>        
    </div>
</html>
