{% extends 'travel_wishlist/base.html' %}
{% load static %}
{% block content %}


<h2>{{ place.name }}</h2>
{% if place.visited %}

    <p>You have visited {{ place.name }}</p>

    <h3>Notes</h3>
    <p>{{place.notes | default:"No notes."}}</p>

    <h3>Date Visited</h3>
    <p>{{ place.date_visited | default:"Date Visited not set." }}</p>

    <h3>Photo</h3>
    {% if place.photo %}
        <img src="{{ place.photo.url }}">
    {% else %}
        <p>No photo uploaded</p>
    {% endif %}
    <form action="{% url 'place_details' place.pk %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{ review_form.as_p }}
        <button type="submit">Save Review</button>
    </form>

    {% if messages %}
    <div class="messages">
    {% for message in messages %}
        <p>{{ message }} </p>
    {% endfor %}
    </div>
    {% endif %}
{% else %}
<p>You have not visited {{place.name}}</p>
<form action="{% url 'place_was_visited' place.pk%}" method="post">
    {% csrf_token %}
    <button type="submit">Visited!</button>
</form>

{% endif %}


<form action="{% url 'delete_place' place.pk%}" method="post">
    {% csrf_token %}
    <button type="submit" class="delete">Delete</button>

</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>

{% endblock %}